header {
	padding-bottom: 60px;

}

#main {
  padding: 60px 40px 40px 40px;
  margin: 0 auto;
  max-width: 1000px;
  background:  url(images/bg.jpg);
  background-size: cover;
  color: grey;
  } 

div{
	padding: 40px;
	background: rgba(0,0,0,0.5);
}

body {
  background: rgba(0,0,0,1);
}

blockquote {
  margin-right: 0;
}
